* {
  box-sizing: border-box;
}
/* FONTS */
@font-face {
  font-family: poppins;
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #3e4b68f3;
  background-image: url('../img/backGround.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: poppins;
}

.main-header {
  width: 100%;
  height: 15vh;
  padding: 0 2rem;
  background: linear-gradient(0.25turn, #4f89c0, #37a870);
  margin-bottom: 30px;
}

.logo-img {
  cursor: pointer;
  height: 3rem;
}

.main-nav {
  flex-direction: column;
  width: 50%;
}

.main-nav li {
  width: 100%;
  padding: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  /* border-radius: 1.2rem; */
  text-align: center;
  cursor: pointer;
}

.main-header .main-nav a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-header .main-nav li {
  margin-inline-end: 50px;
}

.main-nav li:hover {
  background: rgb(69, 198, 251);
  background: linear-gradient(
    180deg,
    rgba(69, 198, 251, 1) 0%,
    rgba(69, 232, 251, 1) 50%,
    rgba(69, 198, 251, 1) 100%
  );
  -moz-box-shadow: inset 0 0 10px #fafafa;
  -webkit-box-shadow: inset 0 0 10px #fafafa;
  box-shadow: inset 0 0 5px #fafafa;
}

.filter-choice {
  width: 200px;
  position: relative;
}

.canvas {
  border: 0.45rem solid rgba(132, 0, 255, 0.356);
  border-radius: 2rem;
}

.gallery {
  flex-wrap: wrap;
}


.imgs-container {
  width: 90vw;
  margin: 0 auto 25px;
  flex-wrap: wrap;
}

.gallery-img {
  cursor: pointer;
  height: 200px;
  border-radius: 1rem;
  margin: 0 auto 25px 25px;

  opacity: 0.8;
}

.editor {
  border: 0.45rem solid rgba(132, 0, 255, 0.356);
  background-color: #55545473;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1.5rem 0;
  gap: 1.5rem;
}
.text-line {
  padding-left: 10px;
  height: 2.5rem;
  width: 18rem;
  display: block;
  border-radius: 0.8rem;
}

button {
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
}

.icon-btn {
  margin: 5px;
  border-radius: 0.5rem;
  padding: 7px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}
.icon {
  width: 30px;
  height: 30px;
  padding: 2px;
}

.icon-btn:hover {
  -moz-box-shadow: inset 0 0 10px #fafafa;
  -webkit-box-shadow: inset 0 0 10px #fafafa;
  box-shadow: inset 0 0 10px #fafafa;
}

.buttons-row-1 .icon-btn:nth-child(1) {
  background: rgb(0, 255, 46);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 46, 1) 0%,
    rgba(134, 251, 69, 1) 50%,
    rgba(0, 255, 46, 1) 100%
  );
}
.buttons-row-1 .icon-btn:nth-child(2) {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgb(255, 77, 77) 50%,
    rgba(255, 0, 0, 1) 100%
  );
}
.buttons-row-1 .icon-btn:nth-child(3),
.buttons-row-1 .icon-btn:nth-child(4),
.buttons-row-1 .icon-btn:nth-child(5) {
  background: rgb(69, 198, 251);
  background: linear-gradient(
    180deg,
    rgba(69, 198, 251, 1) 0%,
    rgba(69, 232, 251, 1) 50%,
    rgba(69, 198, 251, 1) 100%
  );
}
.buttons-row-2 {
  flex-wrap: wrap;
}

.buttons-row-2-container {
  background: linear-gradient(0.25turn, #4f89c0, #37a870);

  padding: 0.7rem;
  width: 75%;
  border-radius: 15px;
}

.font-select {
  border-radius: 10px;
  padding-left: 10px;
  width: 7.5rem;
  font-size: 1.125rem;
}

.gallery-saved-img {
  border-radius: 20px;
  flex-wrap: wrap;
}

.stickers {
  background-color: rgba(162, 167, 180, 0.644);
  border-radius: 15px;
  padding: 10px 20px;
}
.stickers img {
  z-index: 10;
  width: 60px;
  cursor: pointer;
}

.buttons-row-4 button {
  flex-direction: column;
  margin-left: 10px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(248, 158, 197) 0%,
    rgb(195, 0, 255) 100%
  );
  color: #fafafa;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 1.2rem;
}
.buttons-row-4 button:hover {
  -moz-box-shadow: inset 0 0 10px #fafafa;
  -webkit-box-shadow: inset 0 0 10px #fafafa;
  box-shadow: inset 0 0 10px #fafafa;
}

.download-btn a {
  text-decoration: none;
  color: #fafafa;
}

.about-me {
  padding: 1.375rem;
  border-radius: 15px;
  flex-direction: row;
  gap: 30px;
  background: rgb(0, 255, 175);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 175, 1) 0%,
    rgba(69, 232, 251, 1) 50%,
    rgba(0, 255, 175, 1) 100%
  );
}

.about-me-txt {
  flex-wrap: wrap;
}
.my-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.main-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.6s;
}

body.menu-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}

/* HELPERS */
.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}
.hide {
  display: none;
}

.main-layout {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.share-a {
text-decoration: none;
color: #fafafa;
}

.facebook {
width: 50px;
height: 50px;
}


.upload-img {
  /* margin-left: 30px; */
}
.upload-img button{
  background: linear-gradient(0.25turn, #4f89c0, #37a870);
 color: #fafafa;
 width: 100px;
 height: 30px;
 font-size: 20px;
}
.search-img label {
  color: #fafafa;
/* line-height: 30px; */
/* height: 30px; */
font-size: 20px;
}
.search-img {
  margin-bottom: 30px;
  gap: 30px;
}

.filter-choice {
width: 200px;
height: 30px;
}


/* MEDIA QUERIES  */
/* SMALL */
@media (max-width: 740px) {
  .main-header {
    border-radius: none;
    height: 80px;
    width: 100%;
    padding-right: 0;
    padding-left: 10px;
    transition: all 0.5s;
  }

  .main-nav ul {
    position: fixed;
    top: 80px;
    right: 0;
    flex-direction: column;
    background-color: #415fa0;
    height: auto;
    width: 30%;
    z-index: 10;
    /* border-radius: 10px; */
    transform: translateX(100%);

    transition: transform 0.6s, box-shadow 0.6s;
  }
  body.menu-open .main-nav ul {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
    transform: translateX(0);
  }
  .main-nav li {
    display: block;
    color: #fafafa;
    border-radius: none;
    box-shadow: none;
    text-align: center;
    border: 1px solid black;
  }

  .main-header .btn-menu {
    display: block;
    height: 80px;
    width: 80px;
    align-self: flex-end;
    background-color: #415fa0;
    color: #fafafa;
    font-size: 50px;
  }
  .editor-container {
    flex-direction: column;
  }

  .gallery-img {
    height: 165px;
    transition: all 1s;
  }

  .about-me {
    flex-direction: column;
    max-width: 640px;
  }

.editor-container {
  min-width: 40%;
}

  .canvas-container {
    min-width: 60%;
    margin: 0 auto;
  }
  
  .editor {
    max-width: 60%;
    margin: 30px auto 0;
  }
  .text-line {
    width: 150px;
  }
}

@media (min-width: 740px) {
  .main-layout {
    max-width: 680px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .main-nav li {
    border-radius: 10px;
  }

  .main-header .btn-menu {
    display: none;
  }

  .canvas-container {
    width: 50%;
  }
  .editor-container {
    flex-direction: column;
    min-width: 500px;
  }

  .gallery-img {
    height: 200px;
    transition: all 1s;
  }

  .canvas-container {

    margin: 0 auto 30px;
    width: 31.25rem;
  }
  .editor {
    margin: 0 auto;
    
    width: 31.25rem;
  }
}

@media (min-width: 950px) {
  .main-layout {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }

  .editor-container {
    flex-direction: row;
    gap: 3.5rem;
  }
}

@media (min-width: 1020px) {
  .main-layout {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}
