* {
  box-sizing: border-box;
}
/* FONTS */
@font-face {
  font-family: poppins;
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #3e4b68f3;
    background-image: url('/img/backGround.png');
    background-repeat: no-repeat;
    background-size: cover;
  font-family: poppins;
}

.header-wrapper {
  width: 100%;
  height: 15vh;
  border-radius: 40px;
  padding: 0 2rem;
  background: linear-gradient(0.25turn, #4f89c0, #37a870);
}

.logo-img {
  cursor: pointer;
  height: 3rem;
}

.main-nav a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.main-nav li:hover:not(:last-child) {
  background-color: rgba(150, 150, 150, 0.842);
  /* background-color: #e4e4e42d; */
  border-radius: 1.2rem;
}

.canvas-container {
  width: 35vw;
}

.editor-container {
  width: 85vw;
  margin-bottom: 30px;
  gap: 3.5rem;
}

.canvas {
  border: 0.45rem solid rgb(49, 44, 44);
  border-radius: 2rem;
}

.gallery {
  flex-direction: column;
}
.imgs-container {
  width: 90vw;
  margin: 0 auto 25px;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.gallery-img {
  cursor: pointer;
  height: 200px;
  border-radius: 1rem;
  opacity: 0.8;
}

.editor {
  background-color: #555454;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1.5rem 0;
  gap: 1.5rem;
}
.text-line {
  padding-left: 10px;
  height: 2.5rem;
  width: 18rem;
  display: block;
  border-radius: 0.8rem;
}


button {
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
}

.icon-btn {
  margin: 5px;
  border-radius: 0.5rem;
  padding: 7px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}
.icon {
  width: 30px;
  height: 30px;
  padding: 2px;
}

.buttons-row-1 .icon-btn:nth-child(1) {
  background: rgb(0,255,46);
background: linear-gradient(180deg, rgba(0,255,46,1) 0%, rgba(134,251,69,1) 50%, rgba(0,255,46,1) 100%);
}
.buttons-row-1 .icon-btn:nth-child(2) {
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgb(255, 77, 77) 50%, rgba(255,0,0,1) 100%);
}
.buttons-row-1 .icon-btn:nth-child(3) ,
.buttons-row-1 .icon-btn:nth-child(4) ,
.buttons-row-1 .icon-btn:nth-child(5) {
  background: rgb(69,198,251);
  background: linear-gradient(180deg, rgba(69,198,251,1) 0%, rgba(69,232,251,1) 50%, rgba(69,198,251,1) 100%);
}
.buttons-row-2 {
  flex-wrap: wrap;
  
}

.buttons-row-2-container {
  background: linear-gradient(0.25turn, #4f89c0, #37a870);
  
  padding: 0.7rem;
  width: 75%;
  border-radius: 15px;
}

/* HELPERS */
.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}
.hide {
  display: none;
}
